/* CSS ASIENTOS */

.plan {
    height: 35vw !important;
    margin-right: 2vh;
}

.screen{
    background-color: black;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border: 2px solid white;
    height: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 2vh;
    text-align: center;
    color: white;
    letter-spacing: 0.5vh;
}

.entradas-container{
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 0.2vw solid white;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px 5px rgba(170, 0, 255, 0.7); /* Sombra blanca con transparencia */
    outline: 1px solid rgba(255, 255, 255, 0.5); /* Contorno blanco con transparencia */
}

.total-container{
    width: 100%;
    border: 0.2vw solid white;
    border-radius: 1vw;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7); /* Sombra blanca con transparencia */
    outline: 1px solid rgba(255, 255, 255, 0.5); /* Contorno blanco con transparencia */
}

.grid-container {
    display: flex;
    gap: 30px;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1.5vw);
    grid-template-rows: repeat(30, 1.15vw);

    background-color: #403f51;
    border: 2px solid white;
    border-radius: 0.5vw;
    width: auto;
    padding: 0.3vw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#grid2 {
    grid-template-columns: repeat(10, 1.6vw);
}

#grid3 {
    grid-template-columns: repeat(5, 1.6vw);
}

.cell {
    width: 1.3vw;
    height: 0.8vw;
    background-color: #f0f8ff;
    border: 1px solid white;
    border-radius: 0.3vw;
}

.cell:hover {
    background-color: pink;
}

.cell.taken {
    background-color: rgb(35, 0, 164);
}

.cell.clicked {
    background-color: rgb(255, 0, 76);
}

/* CSS SUMA TICKETS */

#ticket-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vh;
    height: 15vw;
    flex-direction: column;
    font-size: 4vh;
    border-radius: 0.3vw;
    margin-left: 5vw;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
}

.ticket-container{
    height: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
