/* Estilo del tema claro */
body.theme-light {
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
}
.theme-light .navbar-custom {
    background-color: #f8f9fa;
}
.theme-light .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}
.theme-light .btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

/* Estilo del tema oscuro */
body.theme-dark {
    background-color: #343a40;
    color: #ffffff;
}
.theme-dark .navbar-custom {
    background-color: #343a40;
}
.theme-dark .btn-outline-primary {
    color: #ffffff;
    border-color: #ffffff;
}
.theme-dark .btn-outline-secondary {
    color: #adb5bd;
    border-color: #adb5bd;
}

.globo {
    left: 20vh;
    position: absolute;
    width: 5vh;
    height: 8vh;
    background-size: cover;
    background-position: center;
}

.globo-1 {
    left: 63vh;
    top: 6px;
    background-image: url('img/cumpleanos-giph/bounce-5.png');
}

.globo-2 {
    left: 68vh;
    top: 5vh;
    background-image: url('img/cumpleanos-giph/bounce-4.png');
}

.globo-3 {
    left: 78vh;
    top: 1vh;
    background-image: url('img/cumpleanos-giph/bounce-3.png');
}

.globo-4 {
    left: 132vh;
    top: 1vh;
    background-image: url('img/cumpleanos-giph/bounce-2.png');
}

.globo-5 {
    left: 145vh;
    top: 6vh;
    background-image: url('img/cumpleanos-giph/bounce-1.png');
}

/*.slow {*/
/*    animation: floatSlow 4s infinite;*/
/*}*/

.fast {
    animation: floatSlow 2s infinite ;
}

@keyframes floatSlow {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@keyframes floatFast {
    0% { transform: translateY(0); }
    50% { transform: translateY(-150px); }
    100% { transform: translateY(0); }
}


#floating-container {
    position: absolute;
    top: 34vh;
    right: -14vh;
    transform: translate(-50%, -50%);
    width: 44vh;
    height: 30vh;
    display: none;
    z-index: 1000;
}

.container {
    margin-top: 9vh !important;
}

.container-buy {
    margin-top: 4vh !important;
}

#floating-container.joker-description {
    background-image: url('img/JOKER copy.png');
    background-size: cover;
    background-position: center;
}

#floating-container.killbill-description {
    background-image: url('img/KILL BILL copy.png');
    background-size: cover;
    background-position: center;
    width: 47vh;
}

#floating-container.fighter-description {
    background-image: url('img/FIGHTER copy.png');
    background-size: cover;
    background-position: center;
    height: 36vh;
}

#floating-container.avatar-description {
    background-image: url('img/AVATAR copy.png');
    background-size: cover;
    background-position: center;
    height: 40vh;
}

#floating-container.pan-description {
    background-image: url('img/EL LABERINTO DEL FAUNO copy.png');
    background-size: cover;
    background-position: center;
    height: 36vh;
}

#floating-container.chihiro-description {
    background-image: url('img/EL VIAJE DE CHIHIR0 copy.png');
    background-size: cover;
    background-position: center;
    height: 36vh;
}

#floating-container.it-description {
    background-image: url('img/IT copy.png');
    background-size: cover;
    background-position: center;
    height: 28vh;
}


.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}
.btn-circle {
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
}
.overlay-button {
    position: absolute;
    top: 2vh;
    left: 4vh;
    z-index: 10;
    width: 10vh !important;
    height: 10vh !important;
}
.carousel-item img {
    width: 100%;
    height: 40rem; /* Altura específica para el carrusel */
    object-fit: cover; /* Ajuste de imagen para mantener la proporción */
}
.carousel-inner {
    width: 120rem; /* Anchura específica para el carrusel */
    height: 40rem; /* Altura específica para el carrusel */
}
.theme-switch {
    position: absolute;
    top: 10px;
    right: 10px;
}

html {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
    height: 100vh;
    background-image: url('img/background-1.jpg');
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 6vw;
    background: black;
    padding: 1vw;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 50px 56px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 255, 255, 0.8); /* Agrega el efecto de luz blanca */
}

.carousel-actions{
    position: absolute;
    top: 0;
    right: 2rem;
    z-index: 9999;
}

.gallery .carousel-actions{
    position: absolute;
    top: -5rem;
    right: 2rem;
    z-index: 9999;
}

.carousel-actions-container{
    position: relative;
    border-bottom: 0.2vw solid white;
    border-top: 0.2vw solid white;
}

.buy-preview-container {
    position: relative;
    border: 0.2vw solid white;
    height: 35vh;
    width: 65vh;
    border-radius: 2vh;
}
.buy-preview{
    background-image: url('img/image01.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 2vh;
}

.sub-language-container {
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}

.presentation {
    height: 100%;
    width: auto;
    display: flex;
    /* background-color: white; */
    align-items: center;
    position: relative;
}

.slogan {
    width: 28vh;
    height: 50%;
    position: absolute;
    top: 9vh;
    left: 120vh;
}

.slogan p{
    width: auto;
    font-size: 2vh;
    font-style: italic;
    color: white;
    letter-spacing: 0.2vw;
}

.tipo-container{
    color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tipo-text{
    font-size: 4vh;

}

.dias-text{
    font-size: 4vh;

    color: white;
    margin-left: 2vh;
}

.horarios-text{
    font-size: 4vh;
    color: white;
    margin-left: 2vh;
}

.selections-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70vh;
    height: 74vh;
    margin-left: 5vw;
}

.compra-subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.horarios-container{
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 1vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 2vw;
}

.tipo-subcontainer {
    width: 50%;
    margin-top: 0.5vw;
    display: flex;
    justify-content: space-evenly;
}

.dias-container{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.dias-habiles-container{
    height: 100%;
}

.fila-dias{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.day-empty{
    width: 7%;
    height: 80%;
    background-color: rgb(35, 0, 164);
    border: 2px solid white;
    border-radius: 1vh;
    color: white;
}

.day-light{
    width: 7%;
    height: 80%;
    background-color: white;
    border: 2px solid white;
    border-radius: 1vh;
    transition: all 300ms ease-in-out;
}

.day-light:hover {
    background-color: pink;
    cursor: pointer;
}

.selected-button {
    background-color: rgb(255, 0, 76) !important;
}

.horario-azul{
    width: 15%;
    height: 100%;
    background-color: rgb(35, 0, 164);
    border: 2px solid white;
    border-radius: 1vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horario-light{
    width: 15%;
    height: 100%;
    background-color: white;
    border: 2px solid white;
    border-radius: 1vh;
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horario-light:hover {
    background-color: pink;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.fila-horarios{
    height: 24%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.selector-horarios-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.btn-siguiente{
    position: absolute;
    top: 14vw;
    right: 0;
}

/* ----------------------------------------------------------
BUTTONS */

.buttons {
    margin-right: 2vw;
    width: 16%;
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    height: 80% !important;
    justify-content: space-between;
    align-items: center;
}
.profile-buttons{
    margin-right: 3vw;
    width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
}
.avatar-container{
    width: 20vh;
    height: 12vh;
    background-image: url('img/level.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.button-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 52%;
    transform: translateX(-50%) translateY(-20px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease;
    width: 18vh;
    height: 20vh;
    text-align: center;
}

.button-container button {
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgb(255, 255, 255);
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: 'Saira Condensed', sans-serif;
    width: 15vh;
    background-color: rgba(0,0,0,0.8);
}

.button-container button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 30px rgb(247, 0, 255);/* Ajusta el brillo al pasar el mouse */
    border: 2px solid rgb(132, 0, 255);
}

.button-container button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.5);
}


.comprar {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: -64px;
    right: 13px;
}

.signin-btn {
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgb(255, 255, 255);
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: 'Saira Condensed', sans-serif;
}

.signin-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 30px rgb(247, 0, 255);/* Ajusta el brillo al pasar el mouse */
    border: 2px solid rgb(132, 0, 255);
    color: white!important;
}

.signin-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signin-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.5);
}



h1 {
    margin: 0;
    margin-left: 1vw;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 2.5vw !important;
    letter-spacing: 0.8vw;
    width: 25vw;
}

.logo {
    background-image: url(img/logo-2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vw;
    height: 100%;
    position: relative;
    filter: brightness(9);
    cursor: pointer;
}

/* NEON H1 */
.neon {
    left: 78vh;
    position: absolute;
    font-size: 4em;
    color: #ffffff; /* Color base del texto en un tono muy claro */
    text-align: center;
    text-shadow: 0 0 5px #e0e0ff, 0 0 10px #e0e0ff, 0 0 15px #420185, 0 0 20px #420185, 0 0 30px #420185, 0 0 40px #1e90ff, 0 0 50px #1e90ff, 0 0 60px #1e90ff;
    animation: flicker 1.5s infinite alternate;
    text-transform: uppercase;
}

@keyframes flicker {
    from {
        text-shadow: 
            0 0 5px #e0e0ff,
            0 0 10px #e0e0ff,
            0 0 15px #7f00ff,
            0 0 20px #7f00ff,
            0 0 30px #7f00ff,
            0 0 40px #1e90ff,
            0 0 50px #1e90ff,
            0 0 60px #1e90ff;
    }
    to {
        text-shadow: 
            0 0 10px #e0e0ff,
            0 0 20px #e0e0ff,
            0 0 30px #7f00ff,
            0 0 40px #7f00ff,
            0 0 50px #7f00ff,
            0 0 60px #1e90ff,
            0 0 70px #1e90ff;
    }
}

/* VISITOR */
.carrusel {
    width: 80%;
    height: 50%;
    background-color: white;
}

/* USER */


/* PROFILE */

.profile-container {
    height: 75%;
    width: 90%;
    margin: auto;
    margin-right: 5vw;
    margin-top: 2vw;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.metas {
    height: 100%;
    width: 65%;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.meta {
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-meta {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 3vh;
}

.bajada-meta {
    font-family: 'Saira Condensed', sans-serif;
    color: white;
}

.submeta {
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra-progreso {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.nombre {
    color: white;
    font-size: 1.2vw;
}

.barra-exterior {
    width: 60%;
    height: 100%;
    border: 2px solid white;
    border-radius: 1vw;
    padding: 0.2vw;
    box-shadow: 
        0 0 5px #6300ae,  /* Resplandor cercano y brillante */
        0 0 10px #6300ae, /* Resplandor intermedio */
        0 0 20px #6300ae, /* Resplandor más amplio */
        0 0 30px #6300ae, /* Resplandor adicional para más efecto */
        0 0 40px #6300ae, /* Resplandor adicional */
        0 0 50px #6300ae; /* Resplandor adicional */
}

.barra-interior {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1vw;
}

.badges-progreso {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.a-badge {
    height: 100%;
    width: 18%;
    border: 2px solid white;
    background-size: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.a-badge.active-badge {
    box-shadow:
            0 0 1vw #6300ae, /* Resplandor adicional */
            0 0 1vw #6300ae; /* Resplandor adicional */
}

.a-inactive {
    background-image: url(img/metas/ticket-0.png)!important;
}

#a-1 {
    background-image: url(img/metas/ticket-1.png);
}

#a-2 {
    background-image: url(img/metas/ticket-2.png);
}

#a-3 {
    background-image: url(img/metas/ticket-3.png);
}

#a-4 {
    background-image: url(img/metas/ticket-4.png);
}

.b-inactive {
    background-image: url(img/metas/acompañado-0.png)!important;
}

#b-1 {
    background-image: url(img/metas/acompañado-1.png);
}

#b-2 {
    background-image: url(img/metas/acompañado-2.png);
}

#b-3 {
    background-image: url(img/metas/acompañado-3.png);
}

#b-4 {
    background-image: url(img/metas/acompañado-4.png);
}
.c-inactive {
    background-image: url(img/metas/martes-0.png)!important;
}
#c-1 {
    background-image: url(img/metas/martes-1.png);
}

#c-2 {
    background-image: url(img/metas/martes-2.png);
}

#c-3 {
    background-image: url(img/metas/martes-3.png);
}

#c-4 {
    background-image: url(img/metas/martes-4.png);
}
.d-inactive {
    background-image: url(img/metas/pregunta-0.png)!important;
}
#d-1 {
    background-image: url(img/metas/pregunta-1.png);
}

#d-2 {
    background-image: url(img/metas/pregunta-2.png);
}

#d-3 {
    background-image: url(img/metas/pregunta-3.png);
}

#d-4 {
    background-image: url(img/metas/pregunta-4.png);
}

.mensaje {
    width: 40vh;
    height: 100%;
}

.agregar-compra {
    height: 85%;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/*button {*/
/*    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
/*    height: 2.5vw;*/
/*    width: 2.5vw;*/
/*    font-size: 2vw;*/
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*    color: white;*/
/*    border: 2px solid white;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border-radius: 0.5vw;*/
/*}*/

.data {
    width: 30%;
    height: 100%;
}

.caja-data {
    margin: auto;
    margin-top: 5vw;
    height: 40%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1vw;
    box-shadow: 
    0 0 5px #6300ae,  /* Resplandor cercano y brillante */
    0 0 10px #6300ae, /* Resplandor intermedio */
    0 0 20px #6300ae, /* Resplandor más amplio */
    0 0 30px #6300ae, /* Resplandor adicional para más efecto */
    0 0 40px #6300ae, /* Resplandor adicional */
    0 0 50px #6300ae; /* Resplandor adicional */
    border: 0.15vw solid white;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding-bottom: 5vh;
    padding-left: 1vh;
}

.campo-xp{
    position: absolute;
    color: #d7abff;
    font-weight: bold;
    top: 34vh;
    left: 40vh;
    font-size: 5vh;

}

.campo-lvl{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 40vh;
    left: 40vh;
    font-size: 3vh;
}

.data-elementos {
    width: 98%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2.8vh;
}

.campo {
    width: 90%;
    height: 3vh;
    color: white;
    font-weight: bold;
}

button.signin-btn.settings-access {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    position: absolute;
    left: 17vh;
    top: 65vh;
}

.data-avatar-container {
    width: 13vw;
    height: 13vw;
    position: absolute;
    background-image: url(img/avatar-border.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20vw;
}

#avatar-img {
    width: 7.5vw;
    height: 7.5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 1.5vw;
    cursor: pointer;
}
.profile-content{
    background-color: rgba(0, 0, 0, 0.8);
}

.data-avatar {
    background-image: url(img/avatar/1.png);
}

.data-avatar2{
    background-image: url(img/avatar/2.png);
}

.data-avatar3{
    background-image: url(img/avatar/3.png);
}

.data-avatar4{
    background-image: url(img/avatar/4.png);
}
.data-avatar5{
    background-image: url(img/avatar/5.png);
}
.data-avatar6{
    background-image: url(img/avatar/6.png);
}
.data-avatar7{
    background-image: url(img/avatar/7.png);
}
.data-avatar8{
    background-image: url(img/avatar/8.png);
}
.data-avatar9{
    background-image: url(img/avatar/9.png);
}

.titulo-sala {
    font-weight: bold;
    font-size: 7vh;
}

.bajada-sala {
    font-weight: bold;
    font-size: 2.5vh;
}
.datos-sala-container.modal-content-web.visible {
    opacity: 1;
}

.datos-sala-container.modal-content-web {
    height: 38vh;
    width: 80vh;
    color: white;
    padding: 2vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.modal-content.question-content.profile-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 60vh;
}

.avatar-profile{
    width: 14vh;
    height: 14vh;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid white;
    cursor: pointer;
}

.avatar1{
    background-image: url(img/avatar/9.png);
}

.data-barra-exterior {
    position: relative;
    top: 5vw;
    left: 5vw;
    height: 2vw;
    width: 20vw;
    border: 2px solid white;
    border-radius: 1vw;
    padding: 0.2vw;
    box-shadow: 
        0 0 5px #6300ae,  /* Resplandor cercano y brillante */
        0 0 10px #6300ae, /* Resplandor intermedio */
        0 0 20px #6300ae, /* Resplandor más amplio */
        0 0 30px #6300ae, /* Resplandor adicional para más efecto */
        0 0 40px #6300ae, /* Resplandor adicional */
        0 0 50px #6300ae; /* Resplandor adicional */
}

.data-barra-interior {
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 1vw;
}

.display-none {
    display: none;
}

td img {
    width: 10vh;
    height: 12vh;
    border: solid 0.3vh white;
}

.gallery td {
    padding: 1vh;
}

.gallery th {
    padding: 1vh;
}

.carousel-actions-container tr {
    color: white;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 93vh;
}

.intro-video {
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.intro-video video {
    height: 99vh;
    width: 100%;
}

.table-container {
    max-height: 76vh;
    overflow-y: auto;
    padding-bottom: 1vh;
    padding-top: 1vh;
    padding-right: 1vh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
}

.question-image-container {
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 0.8vh solid #5f02bf;
}

.question-answers-container {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.question-image {
    height: 100%;
    width: 100%;
    background-image: url('img/pregunta.png');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
}

.wrong-answer {
    height: 10vh;
    position: absolute;
    width: 100%;
    color: red;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 8vh;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.right-answer {
    color: green;
    height: 10vh;
    position: absolute;
    width: 100%;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 8vh;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.question {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.answers-container {
    width: 100%;
    height: 39vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.answer {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    font-size: 3vh;
    border: solid 0.2vh white;
    border-radius: 0.6vh;
    height: 5vh;
    cursor: pointer;
}

.question-content {
    height: 80vh;
    width: 60vh;
    border-radius: 2vh;
    box-shadow: 0 0 5px #e0e0ff, 0 0 10px #e0e0ff, 0 0 15px #420185, 0 0 20px #420185, 0 0 30px #420185, 0 0 40px #420185, 0 0 50px #1e90ff, 0 0 60px #420185;
}

.login-content {
    color: white;
    height: 38vh;
    width: 60vh;
}

.register-content{
    color: white;
    height: 56vh;
    width: 60vh;
}

.modal-content-web {
    border-radius: 2vh;
    box-shadow: 0 0 5px #e0e0ff, 0 0 10px #e0e0ff, 0 0 15px #420185, 0 0 20px #420185, 0 0 30px #420185, 0 0 40px #420185, 0 0 50px #1e90ff, 0 0 60px #420185;
    background-color: rgba(0, 0, 0, 0.8);
}

.right {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

button.signin-btn.question-access {
    position: absolute;
    top: 82vh;
    right: 9vh;
    z-index: 99996;
    width: 12vh;
    height: 12vh;
    font-size: 6vh;
    background-color: black;
    animation: floatSlow 3s infinite;
}

.birthday-modal {
    z-index: 99999;
}

.birthday-modal .question {
    padding: 1vh;
}

.birthday-content{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.create-campaign-content {
    color: white;
}

.edit-campaign-content {
    color: white;
}

.selector {
    background-color: rgba(0, 0, 0, 0.8);
}