/* Estilo del tema claro */
body.theme-light {
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
}
.theme-light .navbar-custom {
    background-color: #f8f9fa;
}
.theme-light .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}
.theme-light .btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

/* Estilo del tema oscuro */
body.theme-dark {
    background-color: #343a40;
    color: #ffffff;
}
.theme-dark .navbar-custom {
    background-color: #343a40;
}
.theme-dark .btn-outline-primary {
    color: #ffffff;
    border-color: #ffffff;
}
.theme-dark .btn-outline-secondary {
    color: #adb5bd;
    border-color: #adb5bd;
}

#floating-container {
    position: absolute;
    top: 34vh;
    right: -14vh;
    transform: translate(-50%, -50%);
    width: 44vh;
    height: 30vh;
    display: none;
    z-index: 1000;
}

.container {
    margin-top: 9vh !important;
}

.container-buy {
    margin-top: 4vh !important;
}

#floating-container.joker-description {
    background-image: url('img/JOKER copy.png');
    background-size: cover;
    background-position: center;
}

#floating-container.killbill-description {
    background-image: url('img/KILL BILL copy.png');
    background-size: cover;
    background-position: center;
    width: 47vh;
}

#floating-container.fighter-description {
    background-image: url('img/FIGHTER copy.png');
    background-size: cover;
    background-position: center;
    height: 36vh;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}
.btn-circle {
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
}
.overlay-button {
    position: absolute;
    top: 2vh;
    left: 4vh;
    z-index: 10;
    width: 10vh !important;
    height: 10vh !important;
}
.carousel-item img {
    width: 100%;
    height: 40rem; /* Altura específica para el carrusel */
    object-fit: cover; /* Ajuste de imagen para mantener la proporción */
}
.carousel-inner {
    width: 120rem; /* Anchura específica para el carrusel */
    height: 40rem; /* Altura específica para el carrusel */
}
.theme-switch {
    position: absolute;
    top: 10px;
    right: 10px;
}

html {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    margin: 0;
    font-family: Cantarell;
    font-family: Saira Condensed;
    height: 100vh;
    background-image: url('img/background-1.jpg');
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 6vw;
    background: black;
    padding: 1vw;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 50px 56px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 255, 255, 0.8); /* Agrega el efecto de luz blanca */
}

.carousel-actions{
    position: absolute;
    top: 0;
    right: 2rem;
}

.carousel-actions-container{
    position: relative;
    border-bottom: 0.2vw solid white;
    border-top: 0.2vw solid white;
}

.buy-preview-container {
    position: relative;
    border: 0.2vw solid white;
    height: 35vh;
    width: 65vh;
    border-radius: 2vh;
}
.buy-preview{
    background-image: url('img/image01.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 2vh;
}

.sub-language-container {
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}

.presentation {
    height: 100%;
    width: auto;
    display: flex;
    /* background-color: white; */
    align-items: center;
    position: relative;
}

.slogan {
    width: 28vh;
    height: 50%;
    position: absolute;
    top: 9vh;
    left: 120vh;
}

.slogan p{
    width: auto;
    font-size: 2vh;
    font-style: italic;
    color: white;
    letter-spacing: 0.2vw;
}

.tipo-container{
    color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tipo-text{
    font-size: 4vh;

}

.dias-text{
    font-size: 4vh;

    color: white;
    margin-left: 2vh;
}

.horarios-text{
    font-size: 4vh;
    color: white;
    margin-left: 2vh;
}

.selections-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70vh;
    height: 74vh;
    margin-left: 5vw;
}

.compra-subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.horarios-container{
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 1vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 2vw;
}

.tipo-subcontainer {
    width: 50%;
    margin-top: 0.5vw;
    display: flex;
    justify-content: space-evenly;
}

.dias-container{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.dias-habiles-container{
    height: 100%;
}

.fila-dias{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.day-empty{
    width: 7%;
    height: 80%;
    background-color: rgb(35, 0, 164);
    border: 2px solid white;
    border-radius: 1vh;
}

.day-light{
    width: 7%;
    height: 80%;
    background-color: white;
    border: 2px solid white;
    border-radius: 1vh;
    transition: all 300ms ease-in-out;
}

.day-light:hover {
    background-color: pink;
    cursor: pointer;
}

.selected-button {
    background-color: rgb(255, 0, 76) !important;
}

.horario-azul{
    width: 15%;
    height: 100%;
    background-color: rgb(35, 0, 164);
    border: 2px solid white;
    border-radius: 1vh;
    color: black;
}

.horario-light{
    width: 15%;
    height: 100%;
    background-color: white;
    border: 2px solid white;
    border-radius: 1vh;
    transition: all 300ms ease-in-out;
}

.horario-light:hover {
    background-color: pink;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.fila-horarios{
    height: 24%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selector-horarios-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.btn-siguiente{
    position: absolute;
    top: 14vw;
    right: 0;
}

/* ----------------------------------------------------------
BUTTONS */

.buttons {
    margin-right: 2vw;
    width: 13%;
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    height: 80% !important;
    justify-content: space-between;
    align-items: center;
}
.profile-buttons{
    margin-right: 3vw;
    width: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
}
.avatar-container{
    width: 20vh;
    height: 12vh;
    background-image: url('img/level.png');
    background-size: cover;
    background-position: center;
}

.button-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 52%;
    transform: translateX(-50%) translateY(-20px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease;
    width: 18vh;
    height: 20vh;
    text-align: center;
}

.button-container button {
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgb(255, 255, 255);
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: 'Saira Condensed', sans-serif;
    width: 15vh;
    background-color: rgba(0,0,0,0.8);
}

.button-container button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 30px rgb(247, 0, 255);/* Ajusta el brillo al pasar el mouse */
    border: 2px solid rgb(132, 0, 255);
}

.button-container button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.5);
}


.comprar {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: -64px;
    right: 13px;
}

.signin-btn {
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgb(255, 255, 255);
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: 'Saira Condensed', sans-serif;
    width: 6vw;
}

.signin-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 30px rgb(247, 0, 255);/* Ajusta el brillo al pasar el mouse */
    border: 2px solid rgb(132, 0, 255);
}

.signin-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signin-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.5);
}



h1 {
    margin: 0;
    margin-left: 1vw;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 2.5vw !important;
    letter-spacing: 0.8vw;
    width: 25vw;
}

.logo {
    background-image: url(img/logo-2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 6vw;
    height: 100%;
    position: relative;
    filter: brightness(9);
}

/* NEON H1 */
.neon {
    left: 78vh;
    position: absolute;
    font-size: 4em;
    color: #ffffff; /* Color base del texto en un tono muy claro */
    text-align: center;
    text-shadow: 0 0 5px #e0e0ff, 0 0 10px #e0e0ff, 0 0 15px #420185, 0 0 20px #420185, 0 0 30px #420185, 0 0 40px #1e90ff, 0 0 50px #1e90ff, 0 0 60px #1e90ff;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    from {
        text-shadow: 
            0 0 5px #e0e0ff,
            0 0 10px #e0e0ff,
            0 0 15px #7f00ff,
            0 0 20px #7f00ff,
            0 0 30px #7f00ff,
            0 0 40px #1e90ff,
            0 0 50px #1e90ff,
            0 0 60px #1e90ff;
    }
    to {
        text-shadow: 
            0 0 10px #e0e0ff,
            0 0 20px #e0e0ff,
            0 0 30px #7f00ff,
            0 0 40px #7f00ff,
            0 0 50px #7f00ff,
            0 0 60px #1e90ff,
            0 0 70px #1e90ff;
    }
}

/* VISITOR */
.carrusel {
    width: 80%;
    height: 50%;
    background-color: white;
}

/* USER */


/* PROFILE */

.profile-container {
    height: 75%;
    width: 80%;
    margin: auto;
    margin-top: 2.7vw;
    margin-right: 0vw;
    background-image: url(img/badges.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}